*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.menu-container,
.menu-container:visited{
    position: fixed;
    width:  100%;
    display: flex;
    justify-content: space-around; 
    background-color:rgb(63, 57, 61); 
    align-items: center;
    padding: 10px;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    
}

.menu{    
    display: flex;
    justify-content: space-around;
     
}
.links{
    display: flex;
    justify-content: center;
    align-items: row;
    
}
.link-page{
    margin-left: 100px;    
}
.selected {
    color:rgb(53, 195, 238);    
} 
.link-page a:link,
.link-page a:visited{
    color: rgb(18, 243, 243);
    text-decoration: none;
}  
.link-page a:hover{
    color:rgb(0, 0, 0);
}
.link-page a:selected{
    color: green;
}
.link-page-h{
    margin-right: 100px;
}
.link-page-h a:selected{
    color: green
}
.link-page-h a:link,
.link-page-h a:visited{
    color: rgb(18, 243, 243);
    text-decoration: none;
}
.content{
    display: flex;
    justify-content: left-start;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(201, 182, 98);

}
.content h1{
    margin-top: 20px;
    margin-left: 20px;
}
.text{
    margin-left:30px;
    color:rgb(0, 0, 0);    
    font-size: 20px;
}

.github{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(201, 182, 98);
    font-size:27px;
    height: 300px;        
}