*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.menu-container,
.menu-container:visited{
    position: fixed;
    width:  100%;
    display: flex;
    justify-content: space-around; 
    background-color:rgb(63, 57, 61); 
    align-items: center;
    padding: 10px;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    
}

.menu{    
    display: flex;
    justify-content: space-around;
     
}
.links{
    display: flex;
    justify-content: center;
    align-items: row;
    
}
.link-page{
    margin-left: 100px;    
}
.selected {
    color:rgb(179, 154, 73);          
} 
.link-page a:link,
.link-page a:visited{
    color: rgb(18, 243, 243);
    text-decoration: none;
}  
.link-page a:hover{
    color:rgb(0, 0, 0);
}
.link-page a:selected{
    color: green;
}
.link-page-h{
    margin-right: 100px;
}
.link-page-h a:selected{
    color: green
}
.link-page-h a:link,
.link-page-h a:visited{
    color: rgb(18, 243, 243);
    text-decoration: none;
}
.content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(201, 182, 98);

}
.content h1{
    margin-top: 20px;
    margin-left: 20px;
}
.text{
    margin-left:30px;
    color:rgb(0, 0, 0);    
    font-size: 20px;
}

.github{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(201, 182, 98);
    font-size:27px;
    height: 300px;        
}
.projects{     
    top:75px;
    padding: 800px;
    padding-bottom: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(199, 184, 138);

}
.projects h1,
.projects p{
    margin-top:-200px;
}
.contact-page{
    display: flex;
    padding: 50px;    
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(201, 182, 98);
}
.contacts p{
      font-size: 20px;
      padding: 20px;
      margin-left: 100px;
}
.contacts h1{
    margin-left: 160px;
}
.form-row button{
    background-color: rgb(8, 90, 243);
    color: white;
    width: 200px;
    height: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    border-radius: 10px; 
    margin-left: 200px;
    cursor:pointer;  
}
.form-row{
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
    flex-wrap: wrap;
}
.form-row button:hover{
    background-color:red;
}
.form-row button:active{
    background-color:black;
}
.form-row input[type="email"]{
    background-color:#FFFFFF;
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}
.form-row textarea{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    border: 1px solid black;
    border-radius:3px;
    min-height:200px;
    margin-bottom:10px;
    margin-top: 20px;
    padding:100px;
    resize: none;
}
.form-row label{
    margin-bottom: 15px;
}
@media(min-width: 2560px){
    .github{
        height:602px;
        font-size: 80px;
    }
}
@media ( min-width: 400px ) { }
@media ( min-width: 750px ) { }